<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Librede Update Site" sequenceNumber="1461177576">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.4.2.v20150204-1700"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20150123-0452"/>
      <unit id="org.eclipse.emf.cdo.common" version="4.3.0.v20140309-0644"/>
      <unit id="org.eclipse.emf.cdo" version="4.3.0.v20140520-1823"/>
      <unit id="org.eclipse.emf.cdo.edit" version="4.3.0.v20140308-0841"/>
      <unit id="org.eclipse.net4j.util" version="3.4.0.v20140308-0604"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20141221-2352"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.9.2.v20141221-2352"/>
      <repository location="http://download.eclipse.org/releases/luna"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
      <unit id="com.google.guava" version="12.0.0.v201212092141"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
      <unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.integration" version="1.1.0.v201303031500"/>
      <unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
      <unit id="org.mockito" version="1.8.4.v201303031500"/>
      <unit id="org.objenesis" version="1.0.0.v201105211943"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.fest.util" version="1.2.5.v02"/>
      <unit id="org.fest.assertions.core" version="2.0.0.M10-v02"/>
      <unit id="edu.oswego.cs.dl.util.concurrent" version="1.3.4.v03"/>
      <unit id="cern.colt" version="1.2.0.v02"/>
      <unit id="org.apache.commons.math3" version="3.2.0"/>
      <unit id="com.sun.jna" version="3.0.0"/>
      <repository location="https://se4.informatik.uni-wuerzburg.de/thirdparty/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="edu.kit.ipd.descartes.mm.feature.feature.group" version="0.0.0"/>
      <repository location="https://se4.informatik.uni-wuerzburg.de/dml/downloads/snapshot/"/>
    </location>
  </locations>
</target>
